# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary

# Scripts
*.bash     text eol=lf
*.fish     text eol=lf
*.sh       text eol=lf
# These are explicitly windows files and should use crlf
*.bat      text eol=crlf
*.cmd      text eol=crlf
*.ps1      text eol=crlf

# Basic .gitattributes for a python repo.
# Source files
# ============
*.pxd    binary
*.py     text eol=lf
*.py3    binary
*.pyw    binary
*.pyx    binary
*.pyz    binary

# Binary files
# ============
*.db     binary
*.p      binary
*.pkl    binary
*.pickle binary
*.pyc    binary
*.pyd    binary
*.pyo    binary
# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.class  binary
*.dll    binary
*.ear    binary
*.jar    binary
*.so     binary
*.war    binary
*.dylib  binary
*.exe    binary
*.txt    binary
*.zip    binary
*.json   binary
# Jupyter notebook
*.ipynb  text

# Note: .db, .p, and .pkl files are associated
# with the python modules ``pickle``, ``dbm.*``,
# ``shelve``, ``marshal``, ``anydbm``, & ``bsddb``
# (among others).
